<%= content_for(:title, 'Favorites | Greenly') %>

<div class="container">
  <main>
    <div class="row">
      <div class="col-md-3">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="col-md-6">
        <%= render "shared/empty_state" if @favorites.empty? %>
        <% @favorites.each do |favorite| %>
          <% if favorite.favoritable_type == "Post" %>
            <%= render "posts/post", post: Post.find(favorite.favoritable_id) %>
          <% else %>
            <%= render "events/event", event: Event.find(favorite.favoritable_id) %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= render 'shared/right_side' %>
      </div>
    </div>
  </main>
</div>
