<%= turbo_frame_tag "comments-#{commentable.id}" do %>
  <div class="comments">
    <% if commentable.comments.count > 0  %>
      <div class="text-muted mb-3"><%= pluralize(commentable.comments.count, "comment") %></div>
    <% else %>
      <div class="text-muted">No comments yet, be the first!</div>
    <% end %>
    <% commentable.comments.order(created_at: :desc).each do |comment| %>
        <div class="comment__action">
          <p>
            <b><%= comment.user.full_name %></b>
            <%= comment.content %>
            <br><small> <%= distance_of_time_in_words_to_now(comment.created_at) %> ago</small>
          </p>
          <% if comment.user == current_user %>
            <div data-controller="sweetalert" class="delete">
              <span class="invisible">
                <%= link_to "comment", comment_path(comment.id),
                data: {sweetalert_target:"deleteButton", turbo_method: :delete} %>
              </span>
              <div data-action="click->sweetalert#confirmAlert">
                <i class="fa-regular fa-trash-can"></i>
              </div>
            </div>
          <% end %>
        </div>
    <% end %>
  </div>
<% end %>
