<%= content_for(:title, "#{@user.username} | Greenly") %>
<main>
  <div class="profile__container">
    <div class="header"></div>
    <div class="row">
      <div class="profile__left col-md-4">
        <%= image_tag @user.photo, class: "profile__photo" %>
        <h4 class="profile__name"><%= @user.full_name %></h4>
        <p class="profile__info">Ambientalist</p>
        <p class="profile__info"><%= @user.email %></p>
        <div class="profile__stats row">
          <div class="stat col-md-4">
            <p class="number-stat"><%= current_user.points %></p>
            <p class="desc-stat">Points</p>
          </div>
          <div class="stat col-md-4">
            <p class="number-stat"><%= current_user.posts.count %></p>
            <p class="desc-stat">Posts</p>
          </div>
          <div class="stat col-md-4">
            <p class="number-stat"><%= current_user.badges.count %></p>
            <p class="desc-stat">Badges</p>
          </div>
        </div>
        <p class="desc">
          Hi ! My name is <%= current_user.first_name %>. I'm an Ambientalist from Medellín, in Colombia. I really enjoy participate in activities.
        </p>
        <div class="social mb-3">
          <i class="fa-brands fa-square-facebook"></i>
          <i class="fa-brands fa-square-twitter"></i>
          <i class="fa-brands fa-square-pinterest"></i>
          <i class="fa-brands fa-square-tumblr"></i>
        </div>
      </div>
      <div class="profile-right col-lg-8">
        <div class="header-badges">
          <span class="profile-nav">Badges</span>
          <span class="edit__profile">
            <%= link_to edit_user_registration_path, data: { turbo_frame: "remote_modal" } do %>
              Edit Profile
            <% end %>
          </span>
        </div>
        <div class="row badges">
        <%= render "shared/empty_state" if @current_user.badges.empty? %>
        <!-- badges
          <% current_user.badges.each do |badge| %>
            <%= badge.name %>
            <%= badge.description %>
          <% end %>
          -->
        <% current_user.badges.each do |badge| %>
          <div class="col-md-4">
            <div class="card h-100">
              <div class="card-body d-flex flex-column align-items-center justify-content-center">
                <div>
                  <%= image_tag "badges/1.png" %>
                </div>
                <h4 class="card-title text-center"><%= badge.name %></h4>
                <p class="card-text text-center"><%= badge.description %></p>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</main>
