<div style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(<%=asset_path('greenly_2.jpg')%>)">
  <div class="container">
    <div class="row vh-100 align-items-center justify-content-center">
      <div class="col-sm-8 col-md-6 col-lg-4 bg-white rounded p-4 shadow">
        <div class="row justify-content-center mb-4">
          <%#<%= image_tag "campingnb.ico", class: "mt-4 w-25"%>
        </div>
        <div class="mb-4">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
            <%= f.error_notification %>
              <%= f.input :email,
                          autofocus: true,
                          input_html: { autocomplete: "email" } %>
              <%= f.button :submit, "Send me reset password instructions", class:"mb-3 btn btn-outline-success w-100" %>
          <% end %>
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
