<nav>
  <div class="container">
    <%= link_to root_path, class: "log" do %>
      <%= image_tag "greenly.ico", style: "width: 40px; height: 40px", alt: "Greenly icon" %>
    <% end %>
    <% if user_signed_in? %>
      <div class="search-bar" data-controller="sweetalert" data-action="input->sweetalert#fakeReport">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="search" placeholder="Search for people, post and events">
      </div>

      <div class="create">
        <div class="btn-group">
          <%= link_to "Community", posts_path, class: "btn btn-primary btn-lg" %>
          <button type="button" class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu border-radius">
            <li><%= link_to "Create Post", new_post_path, data: { turbo_frame: "remote_modal" }, class: "dropdown-item" %></li>
            <li><%= link_to "Community", posts_path, class: "dropdown-item" %></li>
            <li><%= link_to "Events", events_path, class: "dropdown-item" %></li>
          </ul>
        </div>

        <div class="profile-photo">
          <%= link_to profile_path(current_user) do %>
            <%= image_tag current_user.photo, alt: "User profile" %>
          <% end %>
        </div>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</nav>
