<nav>
  <div class="container">
    <%= link_to root_path, class: "log" do %>
      <%= image_tag "greenly.ico", style: "width: 40px; height: 40px", alt: "Greenly icon" %>
    <% end %>
    <% if user_signed_in? %>
      <div class="search-bar">
          <i class="fa-solid fa-magnifying-glass"></i>
          <input type="search" placeholder="Search for people, post and events">
      </div>
      <div class="create">
        <%= link_to "Create Post", new_post_path, data: { turbo_frame: "remote_modal" }, class: "btn btn-primary" %>
        <div class="profile-photo">
          <%= link_to profile_path(current_user) do %>
            <%= image_tag current_user.photo, alt: "User profile" %>
          <% end %>
        </div>
    <% else %>
      <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</nav>
