<% if user_signed_in? %>
  <div class="info-left">
    <div class="profile">
      <div class="profile-photo">
          <%= image_tag current_user.photo %>
      </div>
      <%= link_to profile_path(current_user), class: "profile-info" do %>
        <h4><%= current_user.full_name %></h4>
        <p class="text-muted">@<%= current_user.username %></p>
      <% end %>
    </div>
        <div class="sidebar">
          <%= link_to root_path, class: "menu-item" do %>
              <span><i class="fa-solid fa-house fa-fw"></i></span>
              <h3>Home</h3>
          <% end %>
          <%= link_to posts_path, class: "menu-item" do %>
              <span><i class="fa-solid fa-user-group fa-fw"></i></span>
              <h3>Community</h3>
          <% end %>
          <%= link_to events_path, class: "menu-item" do %>
              <span><i class="fa-solid fa-calendar-days fa-fw"></i></span>
              <h3>Events</h3>
          <% end %>
          <%= link_to favorites_path, class: "menu-item" do %>
              <span><i class="fa-solid fa-heart fa-fw"></i></span>
              <h3>Favorites</h3>
          <% end %>
            <a class="menu-item" id="theme">
                <span><i class="fa-solid fa-palette fa-fw"></i></span>
                <h3>Theme</h3>
            </a>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Launch demo modal
</button>

            <a class="menu-item" active>
                <span><i class="fa-solid fa-gear fa-fw"></i></span>
                <h3>Settings</h3>
            </a>
          <%= link_to destroy_user_session_path, data: {turbo_method: :delete}, class: "menu-item" do %>
              <span><i class="fa-solid fa-arrow-left fa-fw"></i></span>
              <h3>Logout</h3>
          <% end %>
        </div>
      <%= link_to "Create Post", new_post_path, data: { turbo_frame: "remote_modal" }, class: "btn btn-primary" %>
  </div>
<% end %>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "shared/modal_theme" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
