<%= simple_form_for @event do |f| %>
  <div class="border-radius">
    <%= f.input :title, label: "Event Title", placeholder: "What's the event called?", hint: "Max 80 characters" %>
  </div>
  <%= f.input :description, label: "Event Description", placeholder: "What's the event about?", input_html: { rows: 5 } %>
  <%= f.input :event_date, as: :datetime, html5: true, label: "Event Date" %>
  <%= f.input :address, label: "Event Address", placeholder: "Where's the event?" %>
  <%= f.input :photo, as: :file, label: "Invitation Photo", hint: "Motivate people to join your event by uploading a photo" %>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
