<%= simple_form_for @event do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <%= f.input :event_date, as: :date, html5: true %>
  <%= f.input :address %>
  <%= f.input :photo, as: :file %>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
