<h1>Events</h1>
<% @events.each do |event| %>
  <div class="event">
    <h2><%= event.title %></h2>
    <p><%= event.description %></p>
    <p><%= event.address %></p>
    <p><%= event.event_date %></p>
    <p><%= pluralize(event.comments.count, "comment") %></p>
    <%= link_to "show", event_path(event) %>
  </div>
  <% end %>
