<%= content_for(:title, 'Events | Greenly') %>

<div class="container">
  <main>
    <div class="row">
      <div class="col-md-3">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="col-md-6">
      <%= render "shared/empty_state" if @events.empty? %>

        <%= turbo_frame_tag "events-#{@pagy.page}", class: "events" do %>
          <%= render @events %>
          <% if @pagy.next %>
            <%= turbo_frame_tag "events-#{@pagy.next}", loading: :lazy, class: "events",
            src: pagy_url_for(@pagy, @pagy.next) %>
          <% end %>
        <% end %>
      </div>
      <div class="col-md-3">
        <%= render 'shared/right_side' %>
      </div>
      <div class="go-top-container" data-controller="utils" data-action="click->utils#goTop">
        <div class="go-top-button">
          <i class="fas fa-chevron-up"></i>
        </div>
      </div>
    </div>
  </main>
</div>
