<%= content_for(:title, "#{@event.title} | Greenly") %>
<% content_for(:meta_title, "#{@event.title} is on #{DEFAULT_META["meta_product_name"]}") %>
<% content_for(:meta_description, @event.description) %>
<% content_for(:meta_image, cl_image_tag(@event.photo.key), width: 1200, height: 630, crop: :fill) %>

<div class="container">
  <main>
    <div class="row">
      <div class="col-md-8">
        <div class="white__card" data-controller="share" data-share-url-value="<%= event_url(@event) %>">
          <div class="head">
            <div class="title">
              <h2 data-share-target="title"><%= @event.title %></h2>
            </div>
            <span class="edit">
                <%= render partial: "shared/dropdown", locals: { item: @event } %>
            </span>
          </div>
          <div class="photo">
            <%= cl_image_tag @event.photo.key, alt: "Event Image" if @event.photo.attached? %>
          </div>
          <div class="action-buttons">
              <div class="interaction-buttons">
                  <span><%= render "likes/like", likeable: @event %></i></span>
                  <span><i class="fa-regular fa-comment-dots"></i></span>
                  <span data-action="click->share#share"><i class="fa-solid fa-retweet"></i></span>
              </div>
              <div class="bookmark">
                  <span><%= render "favorites/favorite", favoritable: @event %></span>
              </div>
          </div>
          <div class="liked-by">
            <%= render "likes/likes", likeable: @event %>
          </div>
          <div class="card__details">
              <p data-share-target="description"><%= @event.description %></p>
              <div class="more-info mt-3">
                  <%= content_tag(:div, "", class: "mb-2", data:{share_target: "result"}) %>
                  <div class="date mb-2">
                      <span><i class="fa-regular fa-calendar"></i></span>
                      <span><%= @event.event_date.to_fs(:long) %></span>
                  </div>
                  <div class="location">
                      <span><i class="fa-sharp fa-solid fa-location-dot"></i></span>
                      <span><%= @event.address %></span>
                  </div>
              </div>
          </div>
        <%= render partial: "comments/comment_form", locals: { commentable: @event } %>
        <div class="card__comments">
          <%= render partial: "comments/comments", locals: { commentable: @event } %>
        </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="attendance">
          <div class="attendees">
            <%= render partial: "attendances/attendances", locals: { event: @event } %>
          </div>
        </div>
      </div>
      <div class="go-top-container" data-controller="utils" data-action="click->utils#goTop">
        <div class="go-top-button">
          <i class="fas fa-chevron-up"></i>
        </div>
      </div>
    </div>
  </main>
</div>
