<%= content_for(:title, 'Event details | Greenly') %>

<div class="row">
  <div class="col-md-8">
    <div class="events">
      <h1>Event Details</h1>
      <h2><%= @event.title %></h2>
      <%= render partial: "shared/dropdown", locals: { item: @event } %>
      <p><%= @event.description %></p>
      <p><%= @event.address %></p>
      <p><%= @event.event_date %></p>
    </div>
    <div class="comment-create">
      <%= render partial: "comments/comment_form", locals: { commentable: @event } %>
    </div>
    <div class="event-comments">
      <%= render partial: "comments/comments", locals: { commentable: @event } %>
    </div>
  </div>
  <div class="col-md-4">
    <div class="event-attendees">
      <%= render partial: "attendances/attendances", locals: { event: @event } %>
    </div>
</div>
<%= link_to "back", events_path %>
