<div class="post">
  <div class="card text-bg-light mb-3">
    <div class="card-header d-flex justify-content-between">
      <%= distance_of_time_in_words_to_now(post.created_at) %> ago
      <span class="badge text-bg-secondary"><%= render partial: "shared/dropdown", locals: { item: post } %></span>
    </div>
    <% if post.photo.attached? %>
      <%= image_tag post.photo %>
    <% end %>
    <div class="card-body">
      <h5 class="card-title"><%= post.user.full_name %></h5>
      <p class="card-text"><%= post.content %></p>
    </div>
    <div class="card-footer">
      <%= render partial: "comments/comment_form", locals: { commentable: post } %>
      <%= render partial: "comments/comments", locals: { commentable: post } %>
    </div>
  </div>
</div>
<hr>
