<%= turbo_stream_from "comments" %>
<div class="container">
  <div class="row">
    <%= link_to "Create a new Post", new_post_path %>
  </div>
  <div class="post">
    <h2><%= post.created_at.to_fs(:short) %></h2>
      <%= turbo_frame_tag "favorite-#{post.id}" do %>
        <%= render partial: "favorite", locals: { post: post } %>
      <% end %>
    <p><%= post.content %></p>
    <p><%= pluralize(post.comments.count, "comment") %></p>
    <% if policy(post).update? %>
      <%= link_to "edit", edit_post_path(post) %>
    <% end %>
    <% if policy(post).destroy? %>
      <%= link_to "delete", post_path(post), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <% end %>
    <% if policy(@comment).create? %>
      <%= turbo_frame_tag "comment-#{post.id}" do %>
        <%= render partial: "comment", locals: { post: post } %>
      <% end %>
    <% end %>
    <% post.comments.order(created_at: :desc).each do |comment| %>
      <p><%= comment.content %></p>
    <% end %>
  </div>
</div>
