<div class="post">
  <h2><%= post.user.full_name %></h2>
  <%= distance_of_time_in_words_to_now(post.created_at) %> ago
  <%= render partial: "shared/dropdown", locals: { item: post } %>
  <% if post.photo.attached? %>
    <%= image_tag post.photo %>
  <% end %>
  <p><%= post.content %></p>
  <%= render partial: "comments/comment_form", locals: { commentable: post } %>
  <%= render partial: "comments/comments", locals: { commentable: post } %>
</div>
<hr>
