<div class="white__card">
  <div class="head">
    <div class="user">
      <div class="card-profile-photo">
        <%= cl_image_tag post.user.photo.key, alt: "Profile Photo"%>
      </div>
      <div>
        <p class="fw-bold"><%= post.user.full_name %></p>
        <small class="mt-0">Colombia, <%= distance_of_time_in_words_to_now(post.created_at) %> ago</small>
      </div>
    </div>
    <span class="edit">
      <%= render partial: "shared/dropdown", locals: { item: post } %>
    </span>
  </div>
  <div class="photo">
    <%= link_to post_path(post) do %>
      <%= cl_image_tag post.photo.key, alt: "Post Image" if post.photo.attached? %>
    <% end %>
  </div>
  <div class="action-buttons">
    <div class="interaction-buttons">
        <span><i class="fa-regular fa-heart"></i></span>
        <span><i class="fa-regular fa-comment-dots"></i></span>
        <span><i class="fa-sharp fa-solid fa-share-nodes"></i></span>
    </div>
    <div class="bookmark">
        <span><%= render "favorites/favorite", favoritable: post %></span>
    </div>
  </div>
  <div class="card__details">
    <p><%= post.content %></p>
  </div>
  <%= render partial: "comments/comment_form", locals: { commentable: post } %>
  <div class="card__comments">
    <%= render partial: "comments/comments", locals: { commentable: post } %>
  </div>
</div>
