<%= content_for(:title, 'Comunidad | Greenly') %>

<div class="container">
  <main>
    <div class="row">
      <div class="col-md-3">
        <%= render 'shared/sidebar' %>
      </div>
      <div class="col-md-6">
        <%= turbo_frame_tag "remote_modal", target: "_top" %>

        <%= render "shared/empty_state" if @posts.empty? %>

        <%= turbo_frame_tag "posts-#{@pagy.page}", class: "posts" do %>
          <%= render @posts %>
        <% end %>
      </div>
      <div class="col-md-3">
        <div class="events-list">
          <h2>Next Events</h2>
          <ul>
            <% @events.each do |event| %>
              <li><%= link_to event.title, event_path(event), class: 'text-decoration-none' %></li>
            <% end %>
          </ul>
          <p>Look for more events <%= link_to "here", events_path %></p>
          <p><%= link_to "Create a new Event", new_event_path %></p>
        </div>
      </div>
    </div>
  </main>
</div>
