<%= content_for(:title, 'Comunidad | Greenly') %>

<div class="container">
  <div class="row">
    <div class="col-md-2">
      <span>sidebar</span>
      <span>History</span>
      <span>Bookmarks</span>
    </div>
    <div class="col-md-7">
      <h1>Posts</h1>
      <div class="posts">
        <div class="row">
          <%= link_to "Create a new Post", new_post_path %>
        </div>
        <%= turbo_frame_tag "posts" do %>
          <%= render @posts %>
        <% end %>
        <% if @pagy.next %>
          <%= turbo_frame_tag "posts", loading: :lazy, src: posts_path(@posts, page: @pagy.next) do %>
            <p>Loading</p>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="events-list">
        <h2>Events</h2>
        <ul>
          <% @events.each do |event| %>
            <li><%= link_to event.title, event_path(event) %></li>
          <% end %>
        </ul>
        <p>Look for more events <%= link_to "here", events_path %></p>
      </div>
    </div>
  </div>
</div>
