<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title).presence || "Greenly" %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= favicon_link_tag asset_path('greenly.ico') %>
  </head>

  <body class="d-flex flex-column min-vh-100">
  <% unless params[:controller].include? 'devise/' %>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <% end %>
    <%= yield %>
  </body>
</html>
